 body {
     padding: 0;
     margin: 0;
     display:flex;
     flex-direction: column;
 }

 /* Header */

 header {
     background-color: aqua;
     height: 50px;
     padding: 10px;
     padding-top: 20px;
     margin: 0;
     display:flex;
     justify-content: space-between;
 }

 main{
     display: flex;
     height: 80%;
     width:100%;
     }

 header>h1 {
     margin: 0;
     background-color: azure;
     border-radius: 0 10px 0 10px;
     padding: 5px;
     display:flex;
 }

 header>p {
     margin: 0;
     padding: 0;
     display:flex;
     padding-top: 10px;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }

 /* MiddlePart */

 #wrapper {
     padding: 0;
     margin: 0;
     margin-left: 25%;
     height: 500px;
     width: 50%;
     position: absolute;
 }

 #mainBody {
     background-color: lightslategray;
     height: 90%;
 }

 #mainBody>p {
     margin: 0;
     padding: 10px;
     text-align: right;
     color: white;
 }

 #addBody {
     background-color: mediumaquamarine;
     height: 10%;
     padding-top: 2%;
     text-align: center;
     font-style: italic;
 }

 /* Scam */

 #scam {
     height: 600px;
     background-color: moccasin;
     width: 25%;
     position: absolute;
     margin-left: 75%;
 }

 #scam>p {
     padding: 5px;
     text-align: right;
     margin: 0;
 }

 /* Footer */

 #footer {
     margin-top: 500px;
     margin-right: 25%;
     height: 80px;
     width: 70%;
     padding-top: 20px;
     padding-bottom: 10px;
     padding-left: 2.5%;
     padding-right: 2.5%;
     background-color: olive;
     position: absolute;
     display:flex;
     justify-content: space-between;
 }

 #footer>h2 {
     display: flex;
     margin: 0;
     padding: 5px;
     background-color: aliceblue;
     border: 1px solid black;

     height: 40px;
 }

 #footer>p {
     display:flex;
     margin-top: 5px;
     padding: 10px;
     color: white;
     font-style: oblique;
     font-weight: bolder;
 }

 /* Menu */

 #menu {
     padding: 0;
     margin: 0;
     margin-top: 0;
     height: 500px;
     width: 25%;
     background-color: burlywood;
     position: absolute;
 }

 #menu>ol>li {
     list-style: none;
     height: 40px;
     padding: 0;
 }

 #menu>ol {
     margin: 0;
     padding: 0;
 }

 #menu>ol>li>a {
     margin: 0;
     padding: 0;
     display: block;
     height: 30px;
     padding: 5px;
     text-decoration: none;
     color: black;
     font-style: italic;
     font-weight: bold;
     border-bottom: 1px solid black;
     text-align: right;
     transition: 300ms all;
 }

 #menu>ol>li>a:hover {
     background-color: #3f5d79;
     border-bottom: 1px solid #3f5d79;
     color: #fff;
     
     padding-left: 0px;
     padding-right: 10px;
 }